%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @followings.each do |following|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(following.friend.email.downcase)}?s=40")
            = link_to following.friend.name, following.friend
          %td.extra-padding=following.friend.queue_item_count
          %td.extra-padding=Friendship.count(:conditions => "friend_id = #{following.friend.id}")
          %td.extra-padding
            = link_to person_path(id: following.id), method: :delete do
              %i.glyphicon.glyphicon-remove
